/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"); */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --placeholder-color-light: #515869;
  --placeholder-color-dark: white;
  --scrollbar-color-light: #0d1a3e; 
  --scrollbar-color-dark: black; 
  --dot-color-light: #000; 
  --dot-color-dark: #fff;
}

@layer base {
  body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    margin: 0;
    background-color: var(--background-light);
    color: var(--text-light);
  }
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 0px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color-light, #0d1a3e);
    border-radius: 0px;
  }

  .dark ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color-dark, #000000);
    border-radius: 0px;
  }

  body.dark {
    background-color: var(--background-dark);
    color: var(--text-dark);
  }
}

/* html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
} */

@layer utilities {
  .max-width-container {
    @apply w-full flex justify-center;
  }

  .main-width-container {
    @apply w-full lg:w-[64rem] xl:w-[80rem] 2xl:w-[96rem] 4xl:w-[120rem] lg:px-[3.75rem] xl:px-[5rem] 2xl:px-[10rem] 4xl:px-[13.75rem];
  }

  .padding-container {
    @apply lg:py-[1.25rem] xl:py-[1.875rem] 2xl:py-[2.5rem] 4xl:py-[3.75rem];
  }

  .nav-container {
    @apply flex items-center justify-between lg:h-[4.375rem] 2xl:h-[5rem];
  }

  .footer-text-topic {
    @apply font-semibold font-sans text-base lg:text-xl text-gray-200 leading-[1.375rem] lg:leading-[1.375rem] mb-5;
  }

  .footer-text-subtopic {
    @apply font-normal font-sans text-xs lg:text-lg text-gray-200 leading-[1.375rem];
  }

  .main-topic {
    @apply font-sans font-bold text-[32px] leading-8 text-blue-900 dark:text-white my-6;
  }

  .register-now-btn {
    @apply bg-transparent text-white py-3 text-sm w-full relative z-0 overflow-hidden;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  }

  .hero-text-main {
    @apply font-sans font-normal text-[50px] 2xl:text-[50px] 4xl:text-[60px] leading-[60px] 4xl:leading-[74px];
  }

  .hero-text-sub {
    @apply font-sans font-normal text-[18px] leading-[24px];
  }

  .find-jobs-btn {
    @apply bg-gradient-to-r from-blue-100 to-blue-150 text-white py-[12.5px] lg:py-4 text-base w-full relative z-0 overflow-hidden;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out;
  }

  .find-jobs-btn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #663dff;
    background-image: linear-gradient(to right, #0c89ca, #0d1a3e);
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
  }
  .find-jobs-btn:hover {
    color: #fff;
  }
  .find-jobs-btn:hover:after {
    left: 0;
    width: 100%;
  }
  .find-jobs-btn:active {
    /* top: 1px; */
    transform: scale(0.95);
  }

  .register-now-btn span {
    transition: all 0.5s;
  }
  .register-now-btn::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-width: 2px;
    border-style: solid;
    border-top-color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5);
    transform: scale(0.1, 1);
  }
  .register-now-btn:hover span {
    letter-spacing: 2px;
  }
  .register-now-btn:hover::before {
    opacity: 1;
    transform: scale(1, 1);
  }
  .register-now-btn::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .register-now-btn:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
  }



  .card-text-header {
    @apply font-sans font-bold text-base leading-[20px] text-blue-450 dark:text-pink-100;
  }

  .card-text-items {
    @apply font-medium font-sans text-xs lg:text-base text-gray-700 leading-[56px];
  }

  .apply-now {
    @apply text-lg text-blue-400;
  }

  .slick-dots {
    @apply absolute -bottom-[16%] right-0 list-none flex justify-end;
  }
  .slick-dots div {
    @apply inline-block m-[2px] cursor-pointer;
  }

  .form-container {
    @apply w-full h-[55px] p-2 px-3 outline rounded-sm outline-[1px] dark:bg-silver-gradient focus:outline focus:outline-blue-400;
  }

  .input-placeholder::placeholder {
    color: var(--placeholder-color-light);
  }
  
  .dark .input-placeholder::placeholder {
    color: var(--placeholder-color-dark);
  }
  .form-error-msg {
    @apply text-red-100 absolute text-[11px] lg:text-sm lg:mt-2 leading-[16px] font-normal;
  }

  .form-text-area {
    @apply w-full h-auto p-2 px-3 outline outline-[1px] dark:bg-silver-gradient rounded-sm focus:outline focus:outline-blue-400;
  }

  .find-jobs-btn-candidate {
    @apply bg-gradient-to-r from-blue-100 to-blue-150 text-white py-[12.5px] lg:py-4 text-base w-full relative z-0 overflow-hidden;
    box-shadow:
      inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1),
      4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out;
  }

  .common-hero-main {
    @apply font-normal font-sans text-[1.625rem] lg:text-[2.5rem] 2xl:text-[56px] lg:leading-[3.5rem] 2xl:leading-[4rem] leading-[2.125rem] text-white py-3;
  }

  .terms-title {
    @apply text-blue-390 dark:text-white font-sans font-normal text-[30px] leading-[44px] my-8;
  }

  .terms-paragraph {
    @apply font-sans font-normal text-base leading-[30px] text-blue-240 dark:text-white;
  }

  .social-icon {
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }
  
  .social-icon:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .find-jobs-btn-candidate:after {
    position: absolute;
    content: '';
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #663dff;
    background-image: linear-gradient(to right, #0c89ca, #0d1a3e);
    box-shadow:
      inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1),
      4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
  }
  .find-jobs-btn-candidate:hover {
    color: #fff;
  }
  .find-jobs-btn-candidate:hover:after {
    left: 0;
    width: 100%;
  }



}


.custom-carousel {
  position: relative;
}

.custom-carousel .slick-slide {
  transition: transform 0.5s ease;
}

.custom-carousel .slick-dots {
  position: absolute;
  bottom: -40px;
  z-index: 5;
}

.custom-carousel .slick-dots li button:before {
  font-size: 12px;
  color: var(--dot-color-light);
}

.dark .custom-carousel .slick-dots li button:before {
  font-size: 12px;
  color: var(--dot-color-dark);
}

.custom-carousel .slick-dots .slick-active button:before {
  color: #1c9bdd;
}

.dark .custom-carousel .slick-dots .slick-active button::before {
  color: #1C9BDD;
}

.custom-carousel .slick-slide-left {
  transform: scale(1.2);
  transition: transform 1s ease-in-out;
}

/* multi */

.custom-carousel-multi {
  position: relative; /* Ensure positioning context for dots */
  width: 100%; /* Adjust width as needed */
  height: 870px; /* Ensure height matches the slider's content */
  overflow: hidden; /* Hide any overflow */
}

.custom-carousel-multi .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ensure slide height matches container */
}

.custom-carousel-multi .slick-track {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.custom-carousel-multi .slick-dots {
  position: absolute;
  bottom: 10px;
  /* left: 50%; 
  transform: translateX(-50%); */
  z-index: 5;
}

.custom-carousel-multi .slick-dots li {
  margin: 0 5px; /* Space between dots */
}

.custom-carousel-multi .slick-dots li button::before {
  font-size: 12px;
  color: var(--dot-color-light);
}

.dark .custom-carousel-multi .slick-dots li button::before {
  font-size: 12px;
  color: var(--dot-color-dark);
}

.custom-carousel-multi .slick-dots .slick-active button::before {
  color: #1C9BDD; /* Color of active dot */
}

.dark .custom-carousel-multi .slick-dots .slick-active button::before {
  color: #1C9BDD; /* Color of active dot */
}

.cater3-movingBG {
  height: 100%;
  background-image: url('https://medfuturebucket.s3.ap-southeast-1.amazonaws.com/desktop/website/images/HeroCommon.jpeg');
  background-size: 125%;
  background-repeat: repeat-x;
  animation: animatedBackground 15s linear alternate infinite;
}

@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 50% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes fadeInPositive {
  from {
    opacity: 0.5;
    transform: translateY(-10px);
    transition:
      opacity 0.25s ease,
      transform 0.25s ease;
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.polygon-shape-top {
  position: absolute;
  z-index: 1;
  bottom: -20px;
  margin-left: 130px;
  cursor: pointer;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 18px solid white;
  animation: fadeInPositive 0.5s ease forwards;
}